fastapi
uvicorn[standard]
python-multipart
python-dotenv
pymupdf4llm
sentence-transformers
langchain-core
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters
qdrant-client
huggingface_hub
